@font-face {
  font-family: Geometria;
  src: url(geometria_font/Geometria.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Geometria;
  src: url(geometria_font/Geometria-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Geometria;
  src: url(geometria_font/Geometria-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Geometria;
  src: url(geometria_font/geometria-light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Geometria;
  src: url(geometria_font/geometria-medium.ttf);
  font-weight: 500;
}
.main{
overflow-x: hidden!important;
}

.wrapper header.header .logo {}

.wrapper header.header .logo h2 {
  margin: 0 0 0 40px;
  padding: 0;
}
.colour{
  background-color: #FCF9F2; 
  width: 100%!important;
  height: 100%;
}

.slider-container {
  width: 100%;
  height: 50%;
}

 .fa {
border-radius: 100%;

font-size: 30px;
width: 55px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
padding: 20px;
background: #18446F;
color: white;
}
.fa-youtube {
padding: 20px;
background: #18446F;
color: white;
}

.fa-twitter {
padding: 20px;
background: #18446F;
color: white;
}
.fa-github {
padding: 20px;
background: #18446F;
color: white;
}

.fa-instagram {
padding: 20px;
background: #18446F;
color: white;
}

.fa-linkedin {
padding: 20px;
background: #18446F;
color: white;
}

.footer1{
  background-color:  #004066; 
  width: 100%; 
  margin: 0px !important;
}

.footer2{
  margin: 0px !important; 
  padding: 0px !important;
}
.footer3{
  justify-content: center; 
  align-items: center;
}

.footer4{
  padding-top: 20px; 
  padding-left: 0px !important; 
  padding-right: 0px !important;
}
.footer5{
  color: #000000;
}
.footer6{
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  justify-content: center;
  color: grey;
}


.headin{
color: #004066;

margin-left: 8vw;
font-weight: bolder;
font-family: Open Sans;
text-align: left;
font-size: 3.3vw;;
}

.headin2{
color: #004066;
padding-top: 5vw;
margin-left: 8vw;
font-weight: bolder;
font-family: Open Sans;
text-align: left;
font-size: 1.8vw;;
}

.head_cont{
color: white;
margin-left: 8vw;
margin-right: 5vw;
font-size: 1.6vw;
font-weight: bolder;
font-family: Open Sans;
text-align: left;
padding-bottom: 5vw;
}
.Login{
margin-left: 6vw;
}

.box1{
width: 20vw;
height: 3.5vw;
margin-bottom: 2vw;
}
input[type="text"]{
font-size: 1.4vw;
padding-left: 1.4vw;
}
.join{
float: left;
border: none;
background-color: #5DC5FD;
width: 100px;
padding: 1vw;
font-size: 1.0vw;
color: white;
font-weight: bold;
font-family: Open Sans;
border-radius: 20px;
margin-top: 10px;
margin-left: 100px;
}

@media screen and (max-width: 600px) {

  .join{
    float: left;
    border: none;
    background-color: #5DC5FD;
    width: 100px;
    padding: 1vw;
    font-size: 1.0vw;
    color: white;
    font-weight: bold;
    font-family: Open Sans;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 35%;
    }


}
.joinus{
  background-color: #FCF9F2;
}




.Crible_block{
  background-color: #FCF9F2; 
  margin: 0;
  margin-top: 2vw;
  background-color: rgba(221, 221, 221,0.4);
}
.Crible_marg{
  margin-bottom: 0;

  padding-bottom: 2vw;
}
.Crible_para{

  padding-left: 5vw;
  font-size: 1.3vw;
  color: #2db1fe;

}
.Crible_para2{

  margin-left: 30px;
  font-size: 1.3vw;
  color: #2db1fe;

}
.Crible_head{
  padding-right: 10vw;
  font-size: 1.3vw;
  color: #004066 ;

}
.commu_icon{
  color: #000;
  font-size: 3vw;
}

.image{
   border-radius: 50%;
   width: 20%;
margin-left: 20px;
}

.image2
{
   width: 20%;
   margin-left: 10px;
}


.table {
border-collapse: collapse;

width: 100%;

}
.element::-webkit-scrollbar { 
              display: none; 
          } 
          @media only screen and (max-width: 600px) {
.test2{
overflow-x:auto;

}
          }

.y-overflow{
  /* background-color: aqua; */
overflow-y: auto;

}
div.ex1 {
  
  height: 570px;
  width: 100%;
  overflow-y: auto;
}
element.style {
  text-align: left;
  background-color: rgb(252, 249, 242);
  min-width: 0px!important;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  outline: 0px;
  border: 0px;
}

.colour2{
  background-color: white;
}


.grid-container_featured{

          display: inline-grid;
          grid-template-areas: 'newArea newArea newArea';
          grid-template-rows: 50px 350px 350px;
          /* justify-content: center; */
          grid-column-gap: 25px;
          grid-row-gap: 30px;
          background-color: #FCF9F2;
          margin: 0px 10px 10px 20px;
          width: 100%;
         

      }
      .sb22{
      width: 300px;
          text-align: left;
          
        
      }
      .grid-item{
          padding: 15px;
          box-shadow: 3px 3px 5px #ada8a8;
          text-align: center;
          
      }
      .grid-item1 {
          grid-area: newArea;
          font-size: 32px;
          color: #09373c;
          font-family:  Open Sans;
          margin: 2px;
          text-align: center;
         
      }
      .grid-item3{
          grid-row: 2 / 4;
          grid-column: 2 / 3;
      }
      .grid-item h4{

          font-size: 20px;
          font-family:  Open Sans;
          margin: 5px;
          padding: 5px;
          color: #004066;
       

      }
      .grid-item p{

          margin: 0px;
          
          color: #004066;


      }
      div.b {
white-space: nowrap; 
max-width: 49ch; 
overflow: hidden;
text-overflow: ellipsis;
text-align: center;



}

      .button6{

          display: inline-block;
          background-color: #5DC5FD;
          color: white;
          border-style: none;
          border-radius: 15px;
          font-size: 14px;
          font-family:  Open Sans;
          float: right;
          margin-right: 15px; 
      }
       .button7{
         float: left;
          display: inline-block;
          background-color: #5DC5FD;
          color: white;
          border-style: none;
          border-radius: 5px;
          font-size: 14px;
          font-family:  Open Sans;
          margin-left: 15px;
         
      }
      .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 40px;
        margin-top: 20px;
        }
        .parent h4{

          font-size: 20px;
          font-family:  Open Sans;
          margin: 2px;
         
          color: #004066;
          text-align: center;

      }
      .parent p{

        color: #004066;

    }
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 4 / 1 / 5 / 2; }

      .grid-container_latest{
          float: right;
          display: inline-grid;
          grid-template-areas: 'newArea';
          grid-template-rows: 50px 175px 175px 175px 175px;
          grid-row-gap: 10px;
          background-color: #FCF9F2;
          margin: 5px -70px 10px 5px;
          width: 100%;
          /*position: absolute;
          right: 10px;
          top: 10px;*/
          /*box-shadow: 3px 3px 3px #ada8a8;*/
      }
      
      .sb2{
        width: 50%;
        margin-left: 30%;
        text-align: left;
      }
      .sb5{
        width: 50%;
      
        text-align: left;
      }
      .sb3{
        text-align: left;
        
      }
      .sb4{
        width: 90%;
        text-align: left;
      }
      .grid-item_latest{
          padding: 10px;
          box-shadow: 3px 3px 5px #FCF9F2;
          text-align: center;
          margin-top: 20px;
      }
      .grid-item_latest1 {
          grid-area: newArea;
          font-size: 32px;
          color: #09373c;
          font-family:  Open Sans;
          margin: 2px;
          text-align: center;
      }
      .grid-item_latest h4{

          font-size: 20px;
          font-family:  Open Sans;
          margin: 2px;
         
          color: #004066;
          text-align: center;

      }
      .grid-item_latest p{

          color: #004066;

      }

      @media (min-width: 999px){

      .grid-container_latest{

          position: relative;
          left: 20px;
         
      }
      }


      @media (max-width: 998px){


          .grid-container_featured{

          align-items: center;
          margin: 15px;
      }


      .grid-container_latest{

          margin: 15px;
          align-items: center;
      }


      }

      .flex1-container {
        display: flex!important;
        flex-wrap: nowrap !important;
        width: 100%!important;
        background-color: #FCF9F2 !important;
        /* justify-content: space-between!important; */
        
      }
      
      .flex1-container > div {
        background-color: #FCF9F2 !important;
        width: 100px !important;
        margin: 10px !important;
        flex: 0.6 0;
        text-align: left;
        font-size: 15px !important;
        
      }

     

      /*categories*/
      .grid-container5{

          display: grid;
          grid-template-rows: auto auto auto auto;
          margin: 10px;
          background-color: white;
      }
      .grid-item5{

          padding: 15px;
      }
      .grid-item15{

          font-size: 50px;
          color: #09373c;
          font-family:  Open Sans;
      text-align: center;

      }
      .grid-item25{
position: relative;
        left: 30%;
          
      }
      .grid-item35{
position: relative;
        left: 55%;
          
      }
      .grid-item5 img{

          height: 150px; 
          width: 150px;
          border-radius: 100px;
          float: left;
          margin: 10px;
      }
      .grid-item5 h3{

          font-size: 35px;
          font-family:  Open Sans;
          margin: 5px;
          padding: 5px;
          color: #09373c;
          text-align: left;
      }
      .grid33 h6{
          font-size: 13px;
          font-family: Open Sans;
          margin: 5px;
          padding: 5px;
          color: #09373c;
         text-align: left;
         
      }
      .sb{
        width: 60%;
      }
      .button5{
          
          display: inline-block;
          background-color: #5DC5FD;
          color: white;
          border-style: none;
          border-radius: 20px;
          font-size: 20px;
          font-family:  Open Sans;
          float: left;
          padding: 5px 10px;
      }

      .colour3{
          background-color:  #FCF9F2;
      }

      @media only screen and (max-width: 600px) {
        .grid-container5{

          display: grid;
          grid-template-rows: auto auto auto auto;
          margin: 10px;
          background-color: white;
      }
      .grid-item5{

          padding: 15px;
      }
      .grid-item15{

          font-size: 50px;
          color: #09373c;
          font-family:  Open Sans;
      text-align: center;

      }
      .grid-item25{
position: relative;
        left: 0%;
          
      }
      .grid-item35{
position: relative;
        left: 0%;
          
      }
      .grid-item5 img{

          height: 150px; 
          width: 150px;
          border-radius: 100px;
          float: left;
          margin: 10px;
      }
      .grid-item5 h3{

          font-size: 35px;
          font-family:  Open Sans;
          
          
          padding: 0px;
          color: #09373c;
      }
      .colour3{
        background-color:  #FCF9F2;
    }
    .sb{
      width: 100%;
    }
      }


/*profile area*/



 
  h5, h6, p{

    color: #184654;
  }

  h5{

    font-family:Open Sans;
    font-size: 24px;
  }
  .text-p{

    font-family: Open Sans;
    margin-top: 15px;
    margin-left: 0px!important;
    color: #004066 !important;
    font-weight: bold;
    text-align: center !important;
    font-size: 18px;
  }
  
  .left-profile{

    

    margin: 10px;
    padding: 10px;

  }

  .right-profile{

   
 
    margin: 10px;
    padding: 10px;
  }

  .b1-profile{
    float: left;
   
    background-color: #07a399;
    color: #01475e;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    text-align: left;
    font-size: 16px;

  }
 
  .b2-profile {
    /* float: right; */
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #004066;
    color: white !important;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 16px;
    margin-top: 3.6em;
    margin-right: -0.5em;
}
.b3-profile {
  /* float: right; */
  border-radius: 50px;
  padding: 5px 15px;
  background-color: #004066;
  color: white !important;
  font-family: Open Sans;
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: 16px;
  margin-top: 3.0em;
  margin-right: -0.5em;
}
  .grid-container-profile{
    margin-top: 70px;

    

  }

  .profile-text{
      text-align: left;
      font-size: 20px;
      color: #004066;
  }
  .profile2-text{
    text-align: left;
      font-size: 15px;
  }

  .grid-item-profile{

    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 5px 10px #aaaaaa;
    text-align: left;
 
  }
  .grid-item-profile2{

    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 5px 10px #aaaaaa;
    text-align: left;
    height: 12.0em;
   
  }
   .grid-container-categories{
    /* margin-top: 70px; */
margin-bottom: 70px;
    

  }



  .grid-item-categories{

    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 5px 10px #aaaaaa;
  }
   .thumbnail_container-categories {

   position: relative;
   width: 100%;
   padding-bottom: 0%;
  
   
}

.thumbnail-categories {

 border: none!important;
 padding-bottom: 5%!important;
  position:relative;
  width:100%;
  


  align-items: top;


}
.thumbnail-categories img {


  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumbnail-categories img{
  height:30%;
  /*width:100%;*/
  width: 130px!important;
 
}
.b2-categories{

    float: right;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #76ccc2;
    color: #01475e;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 16px;
    margin-top: 105px;
    margin-right: 10px;
  }
   @media only screen and (max-width: 600px) {
     .b2-categories{

    float: last;
    border-radius: 50px;

    background-color: #76ccc2;
    color: #01475e;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 16px;
   
  }
   }

      .grid-container-blog1{
    margin-top: 0px;

    

  }
  .grid-item-blog1{
margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 5px 10px #aaaaaa;
    text-align: left;
  }
  .profile{
    position: relative;
          margin-top: 20px; 
  
  }
  .img1-profile{

    border-radius: 100px;
    margin-left: 30%;

    height: 200px;
    width: 200px;
  }
  .img2-profile{
/* margin-top: -0.5em; */
    height:6.3em;
    width: 10.0em;

  }
  .img3-profile{
    /* margin-top: -0.5em; */
        height:8.3em;
        width: 20.0em;
    
      }
  .left-profile p{

    text-align: justify;
  }
  .icons-profile{

    margin: 2px;
    color: #184654;
  }
  .sharad3-profile{
    margin-top: 30px;
    margin-bottom: -30px;
    margin-left: 10px;
text-align: center;
float: left;
font-size: 25px;
color: #004066;
font-weight: bold;
text-transform: uppercase;
}
.sharad-profile{
text-align: center;
margin-right: 0px!important;
font-size: 25px;
color: #004066;
font-weight: bold;
text-transform: uppercase;

}
.sharad2-profile{
margin-top: 40px;
  padding: 15px;
font-size: 20px!important;
width: 50px;
float: right;

}

/*blog section*/
.bg-text-area .bg-text {
  background-image: url(img/bg-iamges.jpg);
  background-size: 100% 100%;
  padding: 205px 400px;
  margin-bottom: 20px;
}
.sharad2-blog{
/*margin-top: 40px;*/
margin-left: 30px;
  padding: 15px;
font-size: 20px!important;
width: 50px;
float: right;

}
@media only screen and (max-width: 600px) {
  .sharad2-blog{
    /*margin-top: 40px;*/
    margin-left: 20px;
      padding: 15px;
    font-size: 20px!important;
    width: 50px;
    float: right;
    
    }
  }
.like{
  color: #004066;
  font-size: 28px!important;
}
 .button8{
         float: left;
          display: inline-block;
          background-color: #5DC5FD;
          color: white;
          border-style: none;
          border-radius: 5px;
          font-size: 14px;
          font-family:  Open Sans;
         
         
      }
         .button9{
         float: left;
         margin-top: 5px;
          display: inline-block;
          background-color: #5DC5FD;
          color: white;
          border-style: none;
          border-radius: 5px;
          font-size: 14px;
          font-family:  Open Sans;
         
         
      }
      .buttonss{
        float: none;
         display: inline-block;
         background-color: #5DC5FD!important;
         color: white;
         border-style: none;
         border-radius: 5px;
         font-size: 14px;
         font-family:  Open Sans;
         opacity: 0;
         filter: alpha(opacity=0);
        
        
     }
      .choose{
      
          float: left;
          border-radius: 10px;
          
          background-color: #004066;
          color:white;
         margin-top: 20px;
        margin-left: 40%;
          font-size: 18px;
          font-family:  Open Sans;
          padding: 5px 10px;
      }
      .choose2{
        width: 100%;
        text-align: center;
      }
      @media only screen and (max-width: 600px) {
        .choose{
       border-radius: 10px;
          
          background-color: #004066;
          color:white;
         margin: 30px;
        margin-left: 35%;
          font-size: 18px;
          font-family:  Open Sans;
          padding: px 10px;
      }
     
    }
/*main section*/

*{

          box-sizing: border-box;
      }
      .flex2-container {
        display: flex!important;
        flex-wrap: nowrap !important;
        width: 100%!important;
        background-color: #FCF9F2 !important;
        justify-content: flex-end;

      }

      .flex2-container > div {
        background-color: #FCF9F2 !important;
       
     
        flex: 0 0;
      
        font-size: 15px !important;

      }
   .blog-testtt{
    float: left;
    margin-left: 125px;
    margin-bottom: 30px;
   }

      .blog-test{
        text-align: initial;
        
      }
   
        .blog-test3{
        float: left;
        margin-top: 30px;
        
      }

      .blog-test2{
        color: white;
        font-size: 20px;
      }

      h1{

          color:  #004066!important;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;

      }

      h1,p{

          color:  #004066;
          
      }
      .content-blog{
          font-size: 20px;
         
          /* float: left!important; */
          /*padding: 10px;
          margin: 10px;*/
          color:  #004066;

      }
     
      .images-blog{
          height: 300px;
          width: 150px;
          margin-left: 80px;
          margin-right: 150px;
          padding: 5px;
          float: left;

      }
      .figcaption-blog{

          color: grey;
          text-align: center;
          padding: 5px;
          margin-bottom: 20px;
      }


      .aside1-blog{

        
          margin: 20px;
          margin-left: 40px;
          margin-top: 100px;
          margin-bottom: 50px;
          border: 15px solid #272075;
          border-top-width: 100px;

      }
.thumbnail2_container {

   position: relative;
   width: 100%;
   
   padding-top: 0%!important; 

   
}

.thumbnail2 {
 /* background-color: #FCF9F2!important; */
 border: none!important;
 top: -75px;
  position:relative;
  width:100%;
  height:100%;



}
.thumbnail2 img {


  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumbnail2 img{
  height:100%;
  width:100%;
  
  border-radius: 50%;
  
}


      .aside1-blog>img{

      display: block;
      align-items: center;
      border-radius: 50%;
      height: 100%!important;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -80px;
      margin-bottom: -50px;
      }
      .aside1-blog p{

          background-color: #FCF9F2;
          width: 100%;
          padding: 5px 5px 5px 10px;
          

      }
      .aside1-blog h3{
          text-transform: uppercase;
          margin: 2px;
          color: #272075;
          font-family: Open Sans;
          font-size: 32px;
          text-align: center;

      }
      .aside2-container-blog{

          border-top: 5px solid #272075;
          border-bottom: 5px solid #272075;
          height: auto;
          margin: 20px;
          margin-top: 100px;

      }
      .aside2-container-blog h3{
          text-transform: uppercase;
          margin: 2px;
          color: #272075;
          font-family: Arial, sans-serif;
          font-size: 24px;
          text-align: center;
          display: grid;
          grid-template-rows: auto auto auto;
      }
      @media only screen and (max-width: 600px) {
 .aside2-container-blog{

          border-top: 5px solid #272075;
          border-bottom: 5px solid #272075;
          height: auto;
          margin: 20px;
          margin-top: -150%;

}
}
      .aside2-item-blog{

          height: auto;
          align-items: center;

      }
      .aside2-item-blog img{

          height: 100px;
          width: 80%;
          margin: 2px;
          margin-left: 20px;
      }
      .aside2-item-blog p{

          padding: 5px;
          text-align: justify;
      }
      .aside2-item-blog h4{

          text-align: center;
          color: #272075;
          text-transform: uppercase;
          font-family: Arial,sans-serif;
          margin: 2px;
      }

.content22-blog{
  margin-top: 30px; 
}


          



h1{
  text-align: center;
  color: #007399;
  font-family:Open Sans;
  font-size: 32px;
}

.p1{
  color: #0077b3;
  text-align: left;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: bold;
  margin-left: 25px;
}

.p2{

  color: #0077b3;
  text-align: center;
  font-size: 16px;
  font-family: Open Sans;
}

.displayed-blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
height: 70%;
    width: 100%;
  }

.grid-container3-blog{
  width: 100%;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto; 
  margin-left: 20px;
padding-left: 20px;  
}
.grid-item3-blog{
margin-left: 100px;
   
  font-family: Open Sans;
  color: #006699;
  padding: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 5px #ada8a8;
}
.editbutton{

  display: inline-block;
  background-color: #FCF9F2;
  color:#006699;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
  font-family:  Open Sans;
}
  button{

    display: inline-block;
    background-color: #2fe3e6;
    color: white;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-family:Open Sans;
    float: right;
    padding: 5px 10px;
  }
  button:focus 
  {visibility: hidden;}

 
@media (max-width: 768px){

  .grid-container3-blog{
  grid-template-columns: 300px;
  grid-template-rows: auto auto auto;
  }
}

@media only screen and (max-width: 600px) {

   .grid-container3-blog{
  width: 100%;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto; 
  margin-left: 20px;
padding-left: 20px;  
}
.grid-item3-blog{
margin-left: 10px;
   
  font-family: Open Sans;
  color: #006699;
  padding: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 5px #ada8a8;
}
}
/*navbar*/



.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: flex-end!important;
  /* padding: 0.5rem 4rem!important; */
}
@media (min-width: 1200px){

  .ssb{
      max-width: 100%!important;
      
  }
  }
@media screen and (max-width: 600px) {
  .logo {
   
    width: 50%;
    
    background-position: center;

    background-size: cover;
   
    
    margin-right: 60px;

}
}
.flex-container {
  display: flex!important;
  flex-wrap: nowrap !important;
  width: 100%!important;
  background-color: #FCF9F2 !important;
  justify-content: space-between!important;
  
}

.flex-container > div {
  background-color: #FCF9F2 !important;
  width: 100px !important;
  margin: 10px !important;
  text-align: center !important;
  line-height: 30px !important;
  font-size: 15px !important;
  
}

/* .topnav {
  overflow: hidden;
  position: relative;
  overflow: hidden;
 background-color: #FCF9F2;
  width: 100%;
  
}

.topnav span {
  text-align: center;
  color: black;
  text-align: center;
  padding: 10px 85px;
  text-decoration: none!important;
  font-size: 15px;
   text-shadow: 3px 3px 5px #ada8a8;
} */
.navbar-nav {
  display: flex!important;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: space-between!important;
}
.topnav div:hover {
  font-size: 20px!important;
  color: black;
   text-shadow: 3px 3px 5px #ada8a8;
}

.active {
color: black!important;
font-size: 20px;
font-weight: bold !important;
text-transform: uppercase !important;
 text-shadow: 3px 3px 5px #ada8a8;
}

.topnav-centered div {
  float: none;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  margin-right: 20px;
}
.topnav .icon {
  display: none;
}



.navbar-dark .navbar-nav .nav-link {
  color: black!important;
}

@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: black;
}
.navbar-dark .navbar-toggler {
  border: 1px solid #ccc!important;
  color: #FCF9F2;
  border-color:#FCF9F2;
}
.navbar-dark .navbar-toggler-icon {
  background-color: #ccc;
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.show {
  display: block !important;
}
.collapse:not(.show) {
  display: none!important;
}

#mobilehdn{
display: none;
}


/*Edit section*/

.editmain{

  background-color: #FCF9F2;
  color: #184654;
  font-family: Open Sans;
}
.left-edit{


  margin: 2%;
  padding: 1% 1% .25%;

}
.right-edit{

  
  margin: 2%;
  padding: 1%;

}
.bio{
  margin-right: 100%;
}
.edit4{

  font-family: Open Sans;
  font-size: 34px;
   color: #004066;
font-weight: bold;
text-transform: uppercase;
  position: relative;
  margin-top: 1%; 
}
 .edit5{

  font-family: Open Sans;
  font-size: 15px;
  color: #004066;
}
hr.hr1-edit{

  border-bottom: #b0b0b0;
  margin-top: 1.5%;

}
hr.hr2-edit{

  border-bottom: #b0b0b0;
  width: 300px;
color: #b0b0b0;  

}
.grid-container2-edit{
  margin-top: 40px;

  grid-template-rows: auto auto auto auto;
  float: left;
}
.grid-item2-edit{
  color: #184654;
}
.img1-edit{

 
  display: inline-block;
  position: relative;
  margin-top: 40px; 

    border-radius: 100px;
    margin-left: 30%;

    height: 200px;
    width: 200px;
  
}
i.fa-pencil{
  padding: 20px;
  float: right;
  color: grey;
  font-size: 20px;
}
.grid-item2-edit.i{

  border-bottom: 0;
  margin: 2px;

}

.edit1{
  
  font-size: 35px;
/*padding-left: 40%;*/
text-align: center;
margin-left: 50px;
margin-top: 20px;
}
.edit2{
  
  font-size: 15px !important;
}
.edit3{
 
  float: right;
  
}
.edit6{
  text-align: center;
  font-size: 19px;
}
  .edit7{
    margin-left: px;
  font-size:25px; 
 
     color: #004066;
font-weight: bold;
text-transform: uppercase;

}
.edit11{
  color: #18446F;
}




.thumbnail_container {
background-color: #FCF9F2!important;
   position: relative;
   width: 100%;
   padding-bottom: 0%;
   padding-top: 0%!important; 
   
}

.thumbnail {
 background-color: #FCF9F2!important;
 border: none!important;
 padding-bottom: 0%!important;
  position:relative;
  width:100%;
  height:100%;
  padding-left:100px;
  padding-right:100px;
  align-items: top;


}
.thumbnail img {


  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumbnail img{
  height:100%;
  /*width:100%;*/
  max-width: 200px!important;
  border-radius: 50%;
}




.thumbnail1_container {
   position: relative;
   width: 50%;

   padding-bottom: 0%; 
   float:left;
}

.thumbnail1 {

  position:relative;
  
  width:100%;
  height:100%;
}
.thumbnail1 img {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumbnail1 img{
/* height:100%;*/
  /*width:100%;*/
  max-width: 800px!important;
  max-height:100%!important; 
}
@media screen and (max-width: 600px) {
  .thumbnail1 img{
    /* height:100%;*/
      /*width:100%;*/
      max-width: 300px!important;
      max-height:100%!important; 
}
}


/*NEW BLOG SECTION*/

.fash {
  display: contents !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new1{
  
  font-size: 15px;
/*padding-left: 40%;*/
margin-left: 45%;
}

  hr.hr2-new{

 
  width: 100%;
color: #b0b0b0;
font-weight: bold;   

}

span .fa-pencil{
text-align: right;
margin-left: 20%!important; 

   color: grey;
  font-size: 20px;
}

    .grid-container-new{
    margin-top: 20px;
    width: 100%;
   

    

  }
  .grid-item-new{
    
    background-color: #FCF9F2;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .join-new{
float: right;
border: none;
background-color:#004066 ;
width: 120px;
padding: 0.8vw;
font-size: 1.2vw;
color: white;
font-weight: bold;
font-family: Open Sans;
border-radius: 20px;
margin-top: 10px;
margin-bottom: 20px;
margin-right:120px;
}
.join-new2{
  float: right;
  border: none;
  background-color:#004066;
  width: 120px;
  padding: 0.8vw;
  font-size: 1.2vw;
  color: white;
  font-weight: bold;
  font-family: Open Sans;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right:120px;
  }
  .join-new3{
    float: left;
    border: none;
    background-color:#004066;
    width: 120px;
    padding: 0.8vw;
    font-size: 1.2vw;
    color: white;
    font-weight: bold;
    font-family: Open Sans;
    border-radius: 20px;
    margin-top: 35px;
    /* margin-bottom: px;
    margin-right:0px; */
    }
    @media screen and (max-width: 600px) {
      .join-new3 {
       float: left;
    border: none;
    background-color: #004066;
    width: 120px;
    padding: 0.8vw;
    font-size: 20px;
    text-align: center!important;
    color: white;
    font-weight: bold;
    font-family: Open Sans;
    border-radius: 20px;
    margin-top: 2.4em;
    /* margin-bottom: 0px; */
    /* margin-right: 0px; */
    height: 2.em;
    }
    .join-new2{
      float: right;
      border: none;
      background-color:#004066;
      width: 120px;
      padding: 0.8vw;
      font-size: 20px;
      color: white;
      font-weight: bold;
      font-family: Open Sans;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right:120px;
      height: 50px;
      }
      .join-new{
        float: right;
        border: none;
        background-color: #5DC5FD;
        width: 120px;
        padding: 0.8vw;
        font-size: 20px;
        color: white;
        font-weight: bold;
        font-family: Open Sans;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right:120px;
        height: 50px;
        }
    }
/*Login page*/

.Login{
margin-left: 0vw;
}

.login1{
 background-image: url(./img/102736374-soft-elegant-background-design-concept.jpg);
 width: 100%;  
 height: 100vh!important; 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.login2{
font: Open Sans;
font-weight: bold;
transform: uppercase;
font-size: 60px;
width: 100%;
color: #18446F;
text-align: center;
margin-top: 30px;
}
.login3{
font: Open Sans;
margin-top: 50px; 
margin-bottom: 40px;
/*  font-weight: bold;
transform: uppercase;*/
font-size: 50px;
color: black;
text-align: center;
}
.form-control{
font: Open Sans;
color: black;
text-align: center;
border-radius: 20px!important;
text-align: center;
width:80%!important;
 margin-left: 10%!important;

}
.join-login{
float: none;
border: none;
background-color:#18446F ;
width:80%;
font-size: 20px;
color: white;
font-weight: bold;
font-family: Open Sans;
border-radius: 20px;
margin-top: px;
 margin-left: 0%;

}


.grid-container-new-login{
    margin-top: 0px;
    width: 100%;
    height: 100%;

    

  }
  .grid-item-new-login{

    margin-top: 80px;
    
    background-color: #FCF9F2;
    padding-bottom: 200px;
   height: 100%!important;
     width: 100%;
    box-shadow: 10px 5px 10px #aaaaaa;
  }

  .join-test{
text-align: center;
border: none;
background-color: #FCF9F2;
width: 100px;

font-size: 20px;
color: black;
font-weight: bold;
font-family: Open Sans;

margin-top: 10px;
margin-left: 0px;
}
  .join-test1{
text-align: left;
border: none;
background-color: #FCF9F2;
width: 100%;

font-size: 12px;
color: black;
font-weight: bold;
font-family: Open Sans;


margin-left: 0px;
}
 .join-test2{
text-align: left;
border: none;
background-color: white;
width: 100%;

font-size: 12px;
color: black;
font-weight: bold;
font-family: Open Sans;


margin-left: 0px;
}

.test11{
font-size: 20px;
}


  .join-test33{
text-align: center;
border: none;
background-color: white;
width: 100px;

font-size: 20px;
color: black;
font-weight: bold;
font-family: Open Sans;

margin-top: 10px;
margin-left: 0px;
}
  .join-test3{
    position: relative;
text-align: left;
border: none;
background-color: white;
width: 100%;

font-size: 12px;
color: black;
font-weight: bold;
font-family: Open Sans;

margin-top: -15px;
margin-left: 0px;
}



.circle{
  
  width:50%;
  border-radius:50%;
  border:2px solid #FCF9F2;
  margin-left: 25%;
}

.circle:after{
  content:"";
  padding-bottom:100%;
  display:block;
}

.circle1{
  
  width:100%;
  border-radius:50%;
  border:2px solid #;
  margin-left: 0%;
}

.circle1:after{
  content:"";
  padding-bottom:100%;
  display:block;
}



.border{
  border: hidden;
}

div.c {
  white-space: nowrap; 
  max-width: 29ch; 
  overflow: hidden;
  text-overflow: ellipsis; 
text-align: center;
margin-left: 35%;
  
}
div.d {
  white-space: nowrap; 
  max-width: 19ch; 
  overflow: hidden;
  text-overflow: ellipsis; 
text-align: center;
margin-left: 32%;
  
}

@media (min-width: 1200px){

.ssb{
    max-width: 100%!important;
}
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
   margin-right: 0px!important; 
   margin-left: 0px!important; 
  list-style: none;
  width: 100%!important;
  margin: auto!important;
}

.ql-toolbar.ql-snow {
  border: none!important;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid #ccc!important;
}

.ql-container.ql-snow {
  border: 1px solid #ccc!important;
}

.ps {
  width: 300px;
  margin-bottom: 20px!important;
  max-width: 100ch; 
 white-space: nowrap; 
 text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;

}

.overflow-visible {
  white-space: initial;
}
.join {
  float: left;
  border: none;
  background-color: #18446F;
  width: 100px;
  padding: 1vw;
  font-size: 1.0vw;
  color: white;
  font-weight: bold;
  font-family: Open Sans;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 100px;
}
@media screen and (min-width: 600px){
  .sbbb2{
     display: none;
  }
}

@media screen and (max-width: 600px)
{
  .sbbb{
    display: none;
  }
  .edit1{
  
    font-size: 35px;
  /*padding-left: 40%;*/
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
  }
  .grid-item1 {
    grid-area: newArea;
    font-size: 32px;
    color: #09373c;
    font-family: Open Sans;
    margin: 2px;
    margin-left: 2.0em;
    text-align: initial;
}

  .parent h4 {
    font-size: 20px;
    font-family: Open Sans;
    margin: 2px;
    color: #004066;
    text-align: initial;
}
.child{
  text-align: initial;
}
.sb2 {
  width: 45%;
  margin-left: 30%;
  text-align: left;
}

 .btt{
   margin-right: 60px;
 }
  .b2-profile {
    float: right;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #004066;
    color: white!important;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 16px;
    margin-top: 0.0em;
    margin-right: 0.0em;
    margin-bottom: 1.0em;
}
  .join {
   align-items: left!important;
    border: none;
    background-color: #18446F;
    width: 100px;
    padding: 1vw;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Open Sans;
    border-radius: 20px;
    margin-top: 10px;
   margin-left: 1.4em!important;
    
  }
  .grid-item-profile2 {
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 5px 10px #aaaaaa;
    text-align: left;
    height: 100%;
}
.img3-profile {
  /* margin-top: -0.5em; */
  height: 15.3em;
  width: 25.6em;
}
  .b3-profile {
    /* float: right; */
    border-radius: 50px;
    padding: 5px 15px;
    background-color: #004066;
    color: white !important;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 16px;
    margin-top:0.0em;
    margin-right: 0.0em;
    margin-bottom: 1.0em;
}
  .headin2 {
    color: #004066;
    padding-top: 5vw;
    margin-left: 8vw;
    font-weight: bolder;
    font-family: Open Sans;
    text-align: left;
    font-size: 5.0vw;
}
.Crible_para {
  padding-left: 5vw;
  font-size: 5.0vw;
  color: #2db1fe;
}
.Crible_head {
  padding-right: 10vw;
  font-size: 4.0vw;
  color: #004066;
}
input[type="text"] {
font-size: 4.0vw;
   border: solid;
   border-color: gray;
    height: 7.0vw;
    width: 80%;
    margin-right: 1.0em;
}
.headin {
  color: #004066;
  margin-left: 8vw;
  font-weight: bolder;
  font-family: Open Sans;
  text-align: left;
  font-size: 4.3vw;
}
.aside1-blog {
  margin: 20px;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  border: 15px solid #272075;
  border-top-width: 150px;
}
.thumbnail2 {
  /* background-color: #FCF9F2!important; */
  border: none!important;
  top: -115px;
  position: relative;
  width: 100%;
  height: 100%;
}

.join-new {
    float: right;
    border: none;
    background-color: #18446F;
    width: 120px;
    padding: 0.8vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Open Sans;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 120px;
    height: 50px;
}

.blog-testtt{
  float: left;
  margin-left: 0px!important;
  margin-bottom: 30px;
  
}
.new1{
  float: left!important;
    font-size: 15px;
    
  
  margin-left:0px!important;
 
 
  }
  .flex1-container > div {
    background-color: #FCF9F2 !important;
    width: 100px !important;
    margin: 10px !important;
    flex: 1 0;
    text-align: left;
    font-size: 15px !important;
    
  }
}

.ex1::-webkit-scrollbar {
  width: 10px;
}

.ql-editor {
  overflow-y: scroll;
  resize: vertical;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 40em;
}




